@import "../../../stylesVariables/colors.scss";

.main {
  width: 832px;
  margin-top: 40px;
  padding: 28px 16px;
  background-color: rgba(41, 20, 75, 0.7);
  box-shadow: 0 2px 14px rgba(9, 42, 98, 0.12);
  border-radius: 10px;
  border: 1px solid $btnBlue;
}

.title {
  font-size: 20px;
  color: $mainText;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.orderTitle {
  font-size: 12px;
  color: $mainText;
  margin-bottom: 7px;
}
@media (max-width: 1500px) {
  .main {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main {
    margin-top: 20px;
  }
  .title {
    font-size: 16px;
  }
  .orderInfo {
    margin: 10px 0;
  }
  .orderTitle {
    font-size: 12px;
    color: $mainText;
    margin-bottom: 7px;
  }
}
