@import "../../../stylesVariables/colors.scss";

.main {
  width: 210px;
  background-color: rgba(41, 20, 75, 0.70);
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 100;
  border: 1px solid $btnBlue;

}
