@import "../../../stylesVariables/colors.scss";

.root {
  padding: 20px;
  border-radius: 6px;
  border: 1px solid $btnBlue;
}

.topBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-family: RobotoFlex;
  font-weight: 700;
  color: $lightPurpule;
}

.cross {
  cursor: pointer;
}

.warning {
  border-radius: 4px;
  border: 1px solid rgba(245, 155, 19, 0.2);
  background: rgba(245, 155, 19, 0.05);
  padding: 6px;
}

.warningText {
  color: #f59b13;
  text-align: center;
  font-size: 14px;
  font-family: RobotoFlex;
  font-weight: 400;
  line-height: 22px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
}

.help {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
  color: $lightPurpuleText;
  font-size: 14px;
  font-family: RobotoFlex;
  font-weight: 400;
  line-height: 22px;
}

.helpGeneratePassword {
  color: $btnBlue;
  font-size: 14px;
  font-family: RobotoFlex;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
}

.authBtn {
  display: flex;
  width: 260px;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: $btnBlue;
  margin: 0 auto;
}

.switchAuth {
  color: $btnBlue;
  text-align: center;
  font-family: RobotoFlex;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
}
