.main {
  text-align: center;
  background: #4172f6;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
