@import "../../../stylesVariables/colors.scss";

.main {
  width: 832px;
  margin-top: 40px;
  padding: 28px 16px;
  background-color: rgba(41, 20, 75, 0.7);
  box-shadow: 0 2px 14px rgba(9, 42, 98, 0.12);
  border-radius: 10px;
  border: 1px solid $btnBlue;
}

.title {
  font-size: 20px;
  color: $lightVioletText;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.orderTitle {
  font-size: 12px;
  color: #ffffff70;
  margin-bottom: 7px;
}

.requisites {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 30px auto;
}

.sallerInfo {
  &:last-child {
    margin-top: 10px;
  }
}

.payMethodText {
  color: rgba(114, 114, 243, 0.922);
  font-weight: 700;
}

.sallerTitle {
  font-size: 14px;
  color: #ffffff70;
  margin-bottom: 7px;
}

.saller {
  border-left: 1px solid #ffffff70;
  padding-left: 50px;
}

.btnsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset {
  color: #ffffff70;
  cursor: pointer;
  &Block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}

.btn {
  height: 40px;
  width: 386px;
  background-color: $btnBlue;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #ffffff00;
    border: 1px solid $btnBlue;
  }
}
