$bg: #050022;
$white: #ffffff;
$green: #64cb8c;
$purpule: #924fff30;
$btnBlue: #6522d9;
$lightPurpule: #d5c6ee;
$lightPurpuleText: #f2eaffcc;
$greyViolet: #29144bcc;
$lightViolet: #ae7eff;
$lightVioletText: #f2eaff80;
$profileBg: #5b13f51a;
$greenBG: rgba(112, 255, 167, 0.30)