$bg: #050022;
$white: #ffffff;
$green: #64cb8c;
$purpule: #924fff30;
$btnBlue: #6522d9;
$lightPurpule: #d5c6ee;
$lightPurpuleText: #f2eaff80;
$greyViolet: #29144b70;
$lightViolet: #ae7eff;
$lightVioletText: #f2eaff80;
$darkViolet: rgba(41, 20, 75, 0.70);
