@import "../../../stylesVariables/colors.scss";

.main {
  position: relative;
}
.inputs {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  color: $lightVioletText;
}

.select {
  width: 305px;
  height: 40px;
  border: 1px solid $btnBlue;
  border-radius: 6px;
  margin-top: 4px;
}

.currency {
  background-color: $darkViolet;
}

.content {
  margin-top: 10px;
  display: flex;
}

.contentBlock {
  width: 330px !important;
}

.price {
  color: $lightViolet;
  font-size: 32px;
  font-weight: 700;
}

.prices {
  display: flex;
}

.yourPrice {
  margin-right: 20px;
}

.mainCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $btnBlue;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: $lightVioletText;
  border-radius: 50%;
}

.typeContent {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $lightPurpuleText;
  &:last-child {
    margin-left: 29px;
  }
}

.type {
  display: flex;
  margin-top: 40px;
}

.counter {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 13.5px;
  &Content {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid $btnBlue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Input {
    width: 50px;
    display: block;
  }
}

.controlls {
  color: $btnBlue;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.summ {
  width: 330px !important;
  margin-left: 10px;
}

.btn {
  width: 140px;
  height: 40px;
  background-color: $btnBlue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}