@import "../../stylesVariables/colors.scss";

.root {
  margin-top: 100px;

  @media (max-width: 1250px) {
    margin-top: 50px;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 32px;
  font-family: RobotoFlex;
  font-weight: 700;
  color: $lightPurpuleText;

  @media (max-width: 425px) {
    font-size: 20px;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;

  @media (max-width: 1168px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  @media (max-width: 625px) {
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.gridItem {
  padding: 40px 20px;
  border-radius: 20px;
  border: 1px solid $btnBlue;
  background: $greyViolet;

  // Сделать анимацию
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;

  @media (max-width: 1168px) {
    order: 1;
    grid-area: auto;
    grid-column: span 1;
  }
  @media (max-width: 625px) {
    order: auto;
    grid-column: span 1;
  }
}
.div2 {
  grid-area: 1 / 3 / 2 / 7;

  @media (max-width: 1168px) {
    order: 3;
    grid-area: auto;
    grid-column: span 2;
  }
  @media (max-width: 625px) {
    order: auto;
    grid-column: span 1;
  }
}
.div3 {
  grid-area: 1 / 7 / 2 / 10;

  @media (max-width: 1168px) {
    order: 2;
    grid-area: auto;
    grid-column: span 1;
  }
  @media (max-width: 625px) {
    order: auto;
    grid-column: span 1;
  }
}
.div4 {
  grid-area: 2 / 1 / 3 / 4;

  @media (max-width: 1168px) {
    order: 4;
    grid-area: auto;
    grid-column: span 1;
  }
  @media (max-width: 625px) {
    order: auto;
    grid-column: span 1;
  }
}
.div5 {
  grid-area: 2 / 4 / 3 / 7;

  @media (max-width: 1168px) {
    order: 5;
    grid-area: auto;
    grid-column: span 1;
  }
  @media (max-width: 625px) {
    order: auto;
    grid-column: span 1;
  }
}
.div6 {
  grid-area: 2 / 7 / 3 / 10;

  @media (max-width: 1168px) {
    order: 6;
    grid-area: auto;
    grid-column: span 2;
  }
  @media (max-width: 625px) {
    order: auto;
    grid-column: span 1;
  }
}

.gridTitle {
  color: $lightViolet;
  font-size: 24px;
  font-family: RobotoFlex;
  font-weight: 700;
  margin-bottom: 20px;

  @media (max-width: 425px) {
    font-size: 16px;
  }
}

.gridText {
  color: $lightPurpuleText;
  font-size: 18px;
  font-family: RobotoFlex;
  font-weight: 400;
  line-height: 1.45;

  @media (max-width: 425px) {
    font-size: 14px;
    font-weight: 600;
  }
}

.commissions {
  grid-column-start: 2;
  grid-column-end: 4;
}
