@import '../../../stylesVariables/colors.scss';

.main {
  width: 90vw;
  margin: 0 auto;
  margin-top: 20px;
  display: none;
  @media (max-width: 1250px) {
    display: block;
  }
}

.title {
  color: $lightVioletText;
  font-size: 18px;
}

.content {
  margin-top: 10px;
}