@import '../../../stylesVariables/colors.scss';

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.btn {
  width: 330px;
  height: 30px;
  border-radius: 6px;
  color: $lightVioletText;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:hover {
    background-color: #ffffff00;
    border: 1px solid $green;
    color: $green;
  }
}

.active {
  background-color: $green;
  color: $white;
  &:hover {
    background-color: $green;
    border: none;
    color: $white;
  }
}