@import "../../../../stylesVariables/colors.scss";

.main {
  width: 100%;
}

.filter {
  display: grid;
  grid-template-columns: 100px 130px 46px 201px 100px 100px 100px 110px;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 16px;
  margin-top: 15px;
  background-color: #29144bbe;

  &Item {
    color: $lightPurpuleText;
    font-family: RobotoFlex;
    font-size: 18px;
    font-weight: 600;
  }

  @media (max-width: 1020px) {
    display: none;
  }
}

.itemBlock {
  margin-top: 10px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 100px 130px 46px 201px 100px 100px 100px 110px;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid $btnBlue;
  padding-bottom: 4px;

  @media (max-width: 1020px) {
    display: none;
  }
}

.item {
  color: $lightPurpuleText;
  font-family: RobotoFlex;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
}

.saleTitle {
  color: $lightViolet;
  font-family: RobotoFlex;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 6px;
}

.operations {
  &Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  &Btn {
    border-radius: 8px;
    background-color: $btnBlue;
    padding: 10px 20px;
    width: 100%;
    min-width: 120px;
    color: $lightPurpuleText;
    font-family: RobotoFlex;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      opacity: 0.8;
    }
  }
}

.blockItem {
  display: none;
  flex-direction: column;
  border-bottom: 2px solid $btnBlue;
  margin-top: 21px;

  &:first-child {
    margin-top: 0;
  }

  &Top {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Title {
    color: $lightPurpuleText;
    font-family: RobotoFlex;
    font-size: 20px;
    font-weight: 600;

    @media (max-width: 574px) {
      max-width: 280px;
    }
  }

  &Btn {
    transform: rotate(180deg);
  }

  &Body {
    height: 0;
    overflow: hidden;
    color: $lightPurpuleText;
    font-family: RobotoFlex;
    font-size: 16px;
    font-weight: 500;

    transition: 0.6s;

    display: block;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &Visible {
      transition: 0.6s;
      height: auto;
      margin-bottom: 10px;
    }

    &Row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 14px;

      &OperationsTop {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        svg {
          margin-left: 10px;
        }
      }

      &Left {
        color: $lightVioletText;
        font-family: RobotoFlex;
        font-size: 14px;
        font-weight: 600;
        line-height: 145%;
      }

      &Right {
        color: $lightPurpuleText;
        font-family: RobotoFlex;
        font-size: 14px;
        font-weight: 400;
        line-height: 145%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 1020px) {
    display: flex;
  }
}

.btn {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: $btnBlue;
  border: 1px solid $btnBlue;
  color: $lightPurpuleText;
  font-family: RobotoFlex;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  transition: 0.3s;

  &:hover {
    background-color: #ffffff00;
    border: 1px solid $btnBlue;
  }
}
