@import "../../../stylesVariables/colors.scss";

.root {
  width: 100%;
}

.title {
  color: $lightPurpuleText;
  font-family: RobotoFlex;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 53px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;

  &Item {
    color: $lightPurpuleText;
    font-family: RobotoFlex;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

    &Active {
      color: $btnBlue;
      text-decoration-line: underline;
    }
  }

  &Left {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  &Right {
    span {
      cursor: pointer;
      color: $lightVioletText;
      font-family: RobotoFlex;
      font-size: 16px;
      font-weight: 400;
    }

    @media (max-width: 650px) {
      display: none;
    }
  }
}
