.popupIn {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(43, 36, 55, 0.7);
    z-index: 101;
}
.popupIn__block {
    border-radius: 20px;
    width: 400px;
    border: 2px solid #6522d9;
    background: #050022;
    padding: 20px;
    position: relative;
}
.popupIn__title {
    color: #d5c6ee;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 21px;
}
.popupIn__input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    & input {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        color: rgba(242, 234, 255, 1);
        font-size: 16px;
        padding: 0 10px;
        line-height: normal;
        background-color: #00000000;
        border: 1px solid var(--stroke, #6522d9);
    }
}
.popupIn__text {
    color: rgba(242, 234, 255, 0.8);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: normal;
}
.popupIn__btn {
    width: 260px;
    border-radius: 8px;
    background: var(--botton-color, #6522d9);
    height: 40px;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    color: rgba(242, 234, 255, 0.8);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.popupIn__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
@media (max-width: 500px) {
    .popupIn__block {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        border: 0;
    }
}
