@import "../../stylesVariables/colors.scss";

.main {
  display: none;
  position: fixed;
  z-index: 100;
  background-color: $bg;

  @media (max-width: 1250px) {
    display: block;
  }
}

.header {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  width: 100vw;
}

.active {
  height: 100vh;
}

.newBlock {
  width: 26px;
  height: 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $green;
  color: $green;
  font-size: 8px;
  position: absolute;
  top: -5px;
  right: -20px;
  z-index: 2;
}

.newItem {
  position: relative;
  width: fit-content;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid $btnBlue;
}

.navigation {
  width: 328px;
}

.loginBtn {
  width: 100%;
  background-color: $btnBlue;
  height: 40px;
  color: $lightViolet;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 40px;
}

.exitBtn {
  width: 100%;
  height: 40px;
  color: $lightViolet;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile {
  margin-right: 10px;
}

.sidebar {
  position: fixed;
  left: -100%;
  top: 86px;
  background-color: rgba(41, 20, 75);
  height: 100vh;
  transition: 1s;
}

.sidebarActive {
  position: fixed;
  transition: 1s;
  top: 86px;
  left: 0px;
  z-index: 4;
}
