@import "../../../stylesVariables/colors.scss";

.inp {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid $btnBlue;

  &::placeholder {
    color: $lightPurpuleText;
    font-size: 16px;
    font-family: RobotoFlex;
    font-weight: 400;
  }
}
