@import "../../stylesVariables/colors.scss";

.root {
  margin-top: 100px;
  display: flex;

  @media (max-width: 840px) {
    flex-direction: column;
    align-items: center;
    margin-top: 57px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  margin-top: 8px;

  svg {
    margin-right: 11px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.emailBlock {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 23px;

  span {
    color: $lightPurpuleText;
    font-family: RobotoFlex;
    font-size: 16px;
    font-weight: 400;
  }
}

.right {
  margin-top: 18px;
  color: $lightViolet;
  font-family: RobotoFlex;
  font-size: 16px;
  font-weight: 600;

  @media (max-width: 840px) {
    display: none;
  }
}

.mobile {
  display: none;
}

.grid {
  width: 68%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-left: auto;

  &ItemTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    svg {
      display: none;
    }
  }

  &Title {
    color: $lightViolet;
    font-family: RobotoFlex;
    font-size: 16px;
    font-weight: 600;
  }

  &Text {
    color: $lightVioletText;
    font-family: RobotoFlex;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    width: fit-content;
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: $btnBlue
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 840px) {
    margin-top: 21px;
    margin-left: 0;
  }

  @media (max-width: 805px) {
    display: flex;
    flex-direction: column;
    margin: 21px auto 0;
    width: 324px;

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }

    svg {
      display: block;
    }
  }
}

.svg {
  transform: rotate(180deg);
}

.invisible {
  display: none;
}
