.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 821px;
  margin-top: 100px;
  flex-wrap: wrap;
  background: radial-gradient(50% 50% at 50% 50%, rgba(174, 126, 255, 0.3) 0%, rgba(174, 126, 255, 0) 100%);
  background-blend-mode: screen;
}

.img {
  width: 100%;
  height: 100%;
}

.bottomImg {
  align-self: flex-end;
}
