.root {
  display: flex;
  max-height: 821px;
  margin-top: 100px;
  flex-wrap: wrap;
  background: radial-gradient(50% 50% at 50% 50%, rgba(174, 126, 255, 0.3) 0%, rgba(174, 126, 255, 0) 100%);
  background-blend-mode: screen;

  @media (max-width: 1060px) {
    margin-top: 57px;
  }
}

.desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1060px) {
    display: none;
  }
}

.slide {
  width: 208px;
  height: 420px;
  margin: 0 auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  height: 100%;
}

.bottomImg {
  align-self: flex-end;
}

.mobile {
  display: none;
  width: 100%;
  @media (max-width: 1060px) {
    display: flex;
  }
}

.swiper {
  margin: 0 auto;
  width: 400px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileImg {
  width: 208px;
  height: 420px;
}
