@import "../../../stylesVariables/colors.scss";

.main {
  width: 832px;
  margin-top: 40px;
  padding: 28px 16px;
  background-color: rgba(41, 20, 75, 0.7);
  box-shadow: 0 2px 14px rgba(9, 42, 98, 0.12);
  border-radius: 10px;
  border: 1px solid $btnBlue;
}

.title {
  font-size: 20px;
  color: $mainText;
  margin-bottom: 20px;
}

.orderInfo {
  display: flex;
  margin: 20px 0;
}

.orderTitle {
  font-size: 12px;
  color: #ffffff70;
  margin-bottom: 7px;
}

.requisites {
}

.sallerInfo {
  flex: 0 1 50%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid rgba(146, 79, 255, 0.3);
}
.payMethod {
  margin-bottom: 6px;
}
.payMethodText {
  color: rgba(242, 234, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.sallerTitle {
  font-size: 14px;
  color: #ffffff70;
  margin-bottom: 7px;
}

.saller {
  display: flex;
  max-width: 580px;
  gap: 10px;
  margin-bottom: 40px;
}

.btnsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset {
  color: #ffffff70;
  cursor: pointer;
  &Block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}

.btn {
  height: 40px;
  width: 386px;
  background-color: $btnBlue;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #ffffff00;
    border: 1px solid $btnBlue;
  }
}

/* ПОПАП 1*/
.popup {
  background: var(--background-overlap, rgba(43, 36, 55, 0.7));
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.popup__block {
  max-width: 588px;
  border-radius: 20px;
  border: 2px solid #6522d9;
  padding: 20px;
  position: relative;
  background: #050022;
}
.popup__title {
  color: #d5c6ee;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.popup__warning {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  gap: 5px;
  display: flex;
  align-items: center;
  line-height: normal;
  text-transform: uppercase;
}
.popup__subtitle {
  color: rgba(242, 234, 255, 0.8);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: normal;
}
.popup__text {
  padding-left: 25px;
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
}
.popup__subclose {
  position: absolute;
  left: 0;
  top: 0px;
  width: 25px;
  height: 25px;
  & * {
    stroke: #d34176;
  }
}
.popup__checboxs {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  & span {
    color: #fff;
    font-size: 14px;
    line-height: 120%;
  }
}
.popup__checbox {
  display: inline-flex;
  margin-right: 10px;
  & input {
    display: none;
    &:checked + label img {
      opacity: 1;
      visibility: visible;
    }
  }
  & label {
    border-radius: 4px;
    border: 1px solid #6522d9;
    background: rgba(91, 19, 245, 0.1);
    width: 20px;
    height: 20px;
    transition: 0.3s;
    & img {
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
    }
  }
}
.popup__btns {
  gap: 20px;
  display: flex;
  justify-content: center;
}
.popup__yes {
  color: rgba(242, 234, 255, 0.8);
  height: 40px;
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  font-size: 16px;
  line-height: normal;
  transition: 0.3s;
  border-radius: 8px;
  &:hover {
    background: #6522d9;
    color: $mainText;
  }
}
.popup__file {
  border-radius: 6px;
  border: 1px solid var(--stroke, #6522d9);
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  gap: 4px;
  & input {
    display: none;
  }
  & label {
    display: flex;
    padding: 6px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
/* ПОПАП 2*/
.popup__cancel {
  background: var(--background-overlap, rgba(43, 36, 55, 0.7));
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
