.filters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: var(--finance-head);
  border-radius: 10px;
  padding: 10px 16px;
  text-align: center;
  margin-top: 15px;
  gap: 10px;
}

.main {
  margin-left: 30px;
  width: 730px;
}

.itemBlock {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-left: 16px;
  text-align: center;
  margin-top: 10px;
  gap: 10px;
}

.filterItem1 {
  text-align: left;
}

.filterItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filterItem6 {
  text-align: right;
}

.item1 {
  justify-content: flex-start;
}

.item {
  display: flex;
  align-items: center;
}

.item6 {
  justify-content: flex-end;
}
