@import '../../../stylesVariables/colors.scss';

.main {
  display: flex;
  align-items: center;
}

.filters {
  margin-left: 25px;
  display: flex;
  width: 144px;
  justify-content: space-between;
}

.filterItem {
  cursor: pointer;
  font-size: 20px;
  &Active {
    text-decoration: underline;
    color: $btnBlue;
  }
  @media (max-width: 1250px) {
    font-size: 14px;
  }
}